/* Navigation Bar */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li.nav {
  float: left;
}

a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

a.nav:hover {
  background-color: #606060;
}


/* Homepage */
body{
    background-color: #ffe4e1
}

h1.home{
    color: black;
    text-align: center
}

div.home{
    color: black;
    text-align: center;
    width: 500px;
    margin: auto
}

img.home{
    display: block;
    margin: auto;
    width: 500px;
}


/* Music */
.video{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 432px;
    width: 720px;
    margin-bottom: 10px;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Sport */
#sport {
    width: 450px;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f3f3f3;
}
#sport li{
    display: flex;
    background: #fff;
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: .5s;
}
#sport li span:nth-child(1){
    width: 150px;
    text-align: center;
    color: black;
}
#sport li span:nth-child(2){
    width: 150px;
    text-align: center;
    color: black;
}
#sport li span:nth-child(3){
    width: 150px;
    text-align: center;
    color: black;
}


/* TV Shows */
#tv {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tv td, #tv th {
  border: 1px solid #000;
  padding: 8px;
}

#tv tr{
    background-color: #EF9A9A;
}

#tv th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #EF5350;
  color: black;
}



/* Gallery */
div.gallery {
    margin-left: 5%;
    margin-bottom: 2%;
    border: 4px solid #000;
    float: left;
    width: 42.5%;
    background-color: white;
}

div.gallery img {
    width: 100%;
    height: 100%;
    border-bottom: solid #000;
}

div.desc {
    padding: 6px;
    text-align: center;
}